<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>

<body>

    <header>
        <img src="images/logo-mercado-liebre.svg" alt="logo">
        <nav>
            <h3>login</h3>
            <h3>Lugar para poner la barra de búsqueda</h3>
        </nav>
        <h3>Comprá en cuotas y sun tarjeta de crédito</h3>
        <section> 
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
                <br>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </section>
    </header>

    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <p>
                    $6.770
                    <br>
                    40% OFF
                    <br>
                    Cafetera Moulinex
                </p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                <p>
                    $230.000
                    <br>
                    20% OFF
                    <br>
                    Macbook Pro 2019
                </p>
            </article>
            
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <p>
                    $70.500
                    <br>
                    10% OFF
                    <br>
                    Samsung Galaxy S10
                </p>
            </article>
            
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                <p>
                    $23.200
                    <br>
                    5% OFF
                    <br>
                    SmartTv Samsung 43"
                </p>
            </article>
            
        </section>

        <section>
            <h2>Sección de Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <p>
                    $6.770
                    <br>
                    40% OFF
                    <br>
                    Cafetera Moulinex
                </p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                <p>
                    $230.000
                    <br>
                    20% OFF
                    <br>
                    Macbook Pro 2019
                </p>
            </article>
            
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <p>
                    $70.500
                    <br>
                    10% OFF
                    <br>
                    Samsung Galaxy S10
                </p>
            </article>
            
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                <p>
                    $23.200
                    <br>
                    5% OFF
                    <br>
                    SmartTv Samsung 43"
                </p>
            </article>
            
        </section>
    </main>

    <footer>
        <section>
            <ul>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o 
                    efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </ul>

            <ul>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </ul>

            <ul>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </ul>
            
            <ul>
                <h4>Copyright &#169; 1999-2020 MercadoLiebre S.R.L.</h4>
            </ul>

        </section>
    </footer>
    
</body>
</html>