<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

    <header>
        <div class="nav-superior">
            <img id="logo" src="images/logo-mercado-liebre.svg" alt="logo">
            <div class="barraBusqueda">
                <input class="searchbar-imput" type="text" placeholder="Buscar productos, marcas">
                <i class="fas fa-search"></i>
            </div>
            <h3> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sun tarjeta de crédito</h3>
        </div>
        <section class="nav-item"> 
            <nav class="nav-menu">
                <ul>
                    <li> <a href="#"> Ofertas </a> </li>
                    <li> <a href="#"> Tiendas Oficiales </a> </li>
                    <li> <a href="#"> Vender </a> </li>
                    <li><a href="#"> Ayuda </a> </li>
                    <br>
                    <li> <a href="#"> Creá tu cuenta <i class="far fa-id-card"></i> </a> </li>
                    <li><a href="#"> Ingresá <i class="fas fa-sign-in-alt"></i> </a> </li>
                    <li><a href="#"> Mis compras <i class="fas fa-shopping-basket"></i> </a> </li>
                </ul>
            </nav>

            <div class="boton-burger">
                <i class="fas fa-bars"></i>
            </div>
        </section>

    </header>

    <main>
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <p class="precios">
                    $6.770
                </p>
                <p class="descuentos"> 
                    40% OFF
                </p>
                <p class="descripciones">
                    Cafetera Moulinex
                </p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                <p class="precios">
                    $230.000
                </p>
                <p class="descuentos"> 
                    20% OFF
                </p>
                <p class="descripciones">
                    Macbook Pro 2019
                </p>
            </article>
            
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <p class="precios">
                    $70.500
                </p>
                <p class="descuentos"> 
                    10% OFF
                </p>
                <p class="descripciones">
                    Samsung Galaxy S10
                </p>
            </article>
            
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                <p class="precios">
                    $23.200
                </p>
                <p class="descuentos"> 
                    5% OFF
                </p>
                <p class="descripciones">
                    SmartTv Samsung 43"
                </p>
            </article>
            
        </section>

        <section>
            <h2 class="titulares">Sección de Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <p class="precios">
                    6.770
                </p>
                <p class="descuentos"> 
                    40% OFF
                </p>
                <p class="descripciones">
                    Cafetera Moulinex
                </p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                <p class="precios">
                    $230.000
                </p>
                <p class="descuentos"> 
                    20% OFF
                </p>
                <p class="descripciones">
                    Macbook Pro 2019
                </p>
            </article>
            
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <p class="precios">
                    $70.500
                </p>
                <p class="descuentos"> 
                    10% OFF
                </p>
                <p class="descripciones">
                    Samsung Galaxy S10
                </p>
            </article>
            
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                <p class="precios">
                    $23.200
                </p>
                <p class="descuentos"> 
                    5% OFF
                </p>
                <p class="descripciones">
                    SmartTv Samsung 43"
                </p>
            </article>
            
        </section>
    </main>

    <footer>
        <section>
            <ul>
                <i class="iconofooter fas fa-credit-card"></i>
                <h4 class="descripciones">Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o 
                    efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </ul>

            <ul>
                <i class="iconofooter fas fa-gift"></i>
                <h4 class="descripciones">Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </ul>

            <ul>
                <i class="iconofooter fas fa-user-shield"></i>
                <h4 class="descripciones">Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </ul>
            
            <ul>
                <p class="copyright">Copyright &#169; 1999-2020 MercadoLiebre S.R.L.</p>
            </ul>

        </section>
    </footer>
    
</body>
</html>